.display-4 {
    background-color: blue;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
}

h5 {
    text-align: center;
}

.top-articles {
    background-color: blue;
    color: white;
}